<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Event Planner</title>
</head>
<body>
  <!-- Include the header -->
  <%- include('partials/header') %>

    <!-- Include the hero section -->
    <%- include('partials/hero') %>

    <!-- Include the Categories Section -->
  <%- include('partials/categories') %>

    <!-- Include the events Section -->
  <%- include('partials/events') %>

  <main>
    <h3>test</h3>
    <p>test</p>
  </main>

</body>
</html>
